.container img {
	width: 100%;
	margin: auto;
	display: block;
}

.container p {
	text-align: justify;
	font-weight: bold;
}

.content-wrap {
	padding-top: 5rem;
}

@media (max-width: 767px) {
	.social-icons li.title {
		display: block;
		margin-right: 0;
		font-weight: 600;
	}
}
