/* Log in */
* {
	box-sizing: border-box;
}
body {
	background-image: url("../../Images/signup.jpg");
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-img {
	background-image: url("../../Images/login.jpg");
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7rem;
	/* min-height: 380px; */
	width: 100%;
	height: 83.6vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/* position: relative;  */
}
.form-txt {
	display: flex;
	justify-content: space-between;
}
.paragraph {
	background-color: rgba(0, 0, 0, 0.2);
	text-align: justify;

	font-weight: bold;
	color: white;
	margin: auto;
	width: 50%;
	padding: 10px;
}

.login-container {
	border: 10px solid black;
}

.containerr {
	margin: 20px;
	max-width: 300px;
	padding: 16px;
	background-color: white;
}

input[type="text"],
input[type="password"] {
	width: 100%;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
	background-color: #ddd;
	outline: none;
}

.btn {
	background-color: #04aa6d;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.btn:hover {
	opacity: 1;
}

.mb-0 {
	padding-top: 10px;
	margin-bottom: 0;
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px) {
	.bg-img {
		flex-direction: column;
	}
}
