/* Newsletter */

body {
	background-image: url(../../Images/signup.jpg);
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.form {
	border: 2px solid #f1f1f1;
	margin: 15px;
	position: fixed;
	top: 20%;
}

.containeer {
	padding: 20px;
	background-color: #f1f1f1;
}

input[type="text"],
input[type="submit"] {
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

input[type="checkbox"] {
	margin-top: 16px;
}

input[type="submit"] {
	background-color: #04aa6d;
	color: white;
	border: none;
}

input[type="submit"]:hover {
	opacity: 0.8;
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
	.container,
	.footer {
		flex-direction: column;
	}
}
