/* Navigation Bar */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	color: white;
}

.body-text {
	display: flex;
	font-family: "Montserrat", sans-serif;
	align-items: center;
	justify-content: center;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 8vh;
	background: linear-gradient(
		to right,
		rgb(23, 16, 134),
		rgb(20, 160, 203),
		rgb(7, 235, 243)
	);
	font-family: "Montserrat", sans-serif;
	position: fixed;
	top: 0;
	width: 100%;
	padding: 0 5vw;
	z-index: 100;
}

.heading {
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 20px;
}

.child {
	display: flex;
	font-size: 20px;
	height: 3.6rem;
	align-items: center;
}
.nav-links {
	display: flex;
	justify-content: space-around;
	width: 40%;
}

.nav-links li {
	list-style: none;
}

.nav-links a {
	color: white;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
	padding: 14px 16px;
}

.nav-links a:hover:not(.active) {
	background-color: lightseagreen;
}

.nav-links li a.active {
	background-color: #008cff;
}

@media screen and (min-width: 100px) and (max-width: 1000px) {
	.container {
		flex-direction: column;
	}
}

.active {
	background-color: #008cff;
}

/* Signup */

.body-text {
	background-image: url(../../Images/signup.jpg);
	width: 100%;
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

* {
	box-sizing: border-box;
}

.containerr {
	padding: 16px;
	/* position: absolute; */
	top: 25%;
	right: 25%;
	background-color: rgba(0, 0, 0, 0.5);
}

input[type="text"],
input[type="password"] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
	background-color: #ddd;
	outline: none;
}

hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

.registerbtn {
	background-color: #04aa6d;
	color: white;
	padding: 16px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

.registerbtn:hover {
	opacity: 1;
}

a {
	color: dodgerblue;
}

.signin {
	/* background-color: rgba(0, 0, 0, 0.5); */
	text-align: center;
	/* position: absolute;
	top: 73%;
	right: 42%; */
}
